In [ ]:
import pandas as pd

data_csv = pd.read_csv("file.csv")

In [ ]:
# Indexing and selecting data
subset_data = data_csv[["ID", "Age"]]

# Sorting data
sorted_data = data_csv.sort_values(by="ID")

In [ ]:
#Describing attributes
data_csv.describe()

# Checking data types
data_csv.dtypes

ID             int64
Name          object
Age            int64
Department    object
Salary         int64
dtype: object

In [ ]:
# Counting unique values
unique_values = data_csv["ID"].value_counts()

# Converting data type
data_csv["Name"] = data_csv["Name"].astype(str)

In [ ]:
import pandas as pd

# Identify missing values
missing_values = data_csv.isnull()

# Convert non-numeric columns to numeric
data_csv_numeric = data_csv.select_dtypes(include='number')

# Fill missing values with mean for numeric columns
data_csv_numeric.fillna(data_csv_numeric.mean(), inplace=True)

# Update original dataframe with filled values
data_csv[data_csv_numeric.columns] = data_csv_numeric

# Show dataframe with filled missing values
print(data_csv)

   ID     Name  Age Department  Salary
0   1     John   35  Marketing   50000
1   2    Alice   28    Finance   60000
2   3      Bob   42         HR   55000
3   4     Lisa   39         IT   70000
4   5  Michael   45    Finance   62000
5   6    Sarah   33  Marketing   51000
6   7    David   40         IT   72000
7   8     Emma   31         HR   56000
8   9    James   36  Marketing   52000
9  10   Olivia   29    Finance   63000